* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 700px;
    text-align: center;
}

h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.subtitle {
    color: #aaa;
    margin-bottom: 30px;
}

.captcha-box {
    background: #222;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #444;
}

#challenge {
    margin-bottom: 25px;
    font-size: 24px;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 25px;
}

.option {
    background: #333;
    border: 2px solid #555;
    padding: 25px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 45px;

    transition: 0.2s;
}

.option:hover {
    transform: scale(1.05);
    border-color: white;
}

.option.selected {
    border-color: yellow;
    background: #444;
}

#verifyButton {
    padding: 15px 30px;

    background: white;
    color: black;

    border: none;
    border-radius: 8px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

#verifyButton:hover {
    transform: scale(1.05);
}

#message {
    margin-top: 20px;
    font-size: 20px;
    min-height: 30px;
}

.attempt {
    margin-top: 20px;
    color: #888;
}

/* ==========================================
   CAPTCHA FROM HELL - EXTRA LEVEL STYLES
   ========================================== */


/* LEVEL 6 - MOVING BUS */

.moving-bus {
    font-size: 70px;
    cursor: pointer;

    position: relative;

    animation: busMove 3s infinite alternate ease-in-out;
}

@keyframes busMove {

    0% {
        left: -150px;
    }

    100% {
        left: 150px;
    }

}


/* LEVEL 7 - SCAN */

.scan-box {

    padding: 30px;

    border: 2px dashed #777;

    border-radius: 10px;

    font-size: 22px;

}


/* LEVEL 8 - POTATO */

.big-potato {

    font-size: 100px;

    cursor: pointer;

    transition: transform 0.2s;

}

.big-potato:hover {

    transform: scale(1.2);

}


/* LEVEL 9 - INPUT */

.captcha-input {

    width: 80%;

    padding: 15px;

    font-size: 18px;

    border-radius: 8px;

    border: 2px solid #555;

    background: #111;

    color: white;

    text-align: center;

}


/* LEVEL 10 - REACTION POTATO */

.reaction-potato {

    font-size: 100px;

    cursor: pointer;

    padding: 30px;

}